.cdp-page {
	margin-top: 68px;
}
.cdp-header {
	height:48px;
	padding:16px;
	margin-top:-68px;
	margin-bottom:16px;
	position:fixed;
	z-index:100;
	white-space:nowrap;
	background-color: #FFFF;
	box-shadow: 0 0 22px 22px #FFFF;
}
