html{
	overscroll-behavior:contain;
}
body{
	cursor:default;
}
a{
	cursor:pointer;
}
.txmp-header{
	text-align: left;
}
.txmp-header-title{
	text-align:left !important;
	margin:0 !important;
	position: relative;
}
.header-title-text {
	display: inline-block;
	position: relative;
}
.header-title-app-name {
	font-size: 12px;
	display: block;
	position: absolute;
	margin-top: -12px;
	opacity:0.7;
}
.header-title-section-name {
	font-size: 18px;
	display: block;
	position: absolute;
	margin-top: 8px;
}
.txmp-r-ico{
	margin-right:16px;
	margin-left:4px;
}
.txmp-nav-icos > a,
.txmp-nav-icos > .header-dropdown > .header-dropdown-a{
	color:#FFF;
	font-size:24px;
	margin-left:8px;
	margin-top:2px;
}
.txmp-nav-ico-user {
	padding-right:18px;
	border-right:2px solid #FFF;
	margin-right:4px;
}
.txmp-page-main{
	position:relative;
}
.txmp-page-full{
	padding:16px;
	width:100%;
	position:absolute;
	height:100%;
}

input[type=text],
input[type=password],
select.field-large {
	height:37px;width:30%;padding:6px;
	padding-top: 1px;
	padding-bottom: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

.am-modal-dialog input {
	height:37px;width:70%;padding:6px;
	padding-top: 1px;
	padding-bottom: 3px;
	margin-left: 4px;
	margin-right: 4px;
}

input.amjs-modal-input {
	margin-left: auto;
	margin-right: auto;
}

strong, b{
	font-weight:bold;
}

.addition-cmt{
	font-size:14px;
	color:#BBB;
	display: inline-block;
}

.font-bold {
	font-weight:bold;
}

.txmp-tag {
	border: 1px solid transparent;
	background-color: transparent;
	font-size: 12px;
	margin-right:6px;
	height: 22px;
	padding: 1px 2px;
	color: #000;
	white-space: nowrap;
}

.txmp-tag.tag-default {
	border-color: #9E9E9E;
	background-color: #E0E0E0;
	color: #000;
}

.txmp-tag.tag-canonical {
	border-color: #03A9F4;
	background-color: #81D4FA;
	color: #000;
}

.txmp-tag.tag-length {
	border-color: #FB8C00;
	background-color: #FBC02D;
	color: #000;
}

.txmp-tag.tag-quality {
	border-color: #ff4ec4;
	background-color: #ffb7e1;
	color: #000;
}

.txmp-tag.tag-quality-lq {
	border-color: #ff5c5c;
	background-color: #ffa9a9;
	box-shadow: 0 0 4px 0 #ff5c5c;
	color: #000;
}

.txmp-tag.tag-quality-mq {
	border-color: #ff8fda;
	background-color: #ffc4e6;
	color: #000;
}

.txmp-tag.tag-quality-hq {
	border-color: #06ff27;
	background-color: #a0ff8e;
	color: #000;
}

.txmp-tag.tag-quality-sq {
	border-color: #6b79ff;
	background-color: #d3d6ff;
	color: #000;
}

.txmp-tag.tag-quality-ll {
	border-color: #6b79ff;
	background-color: #d3d6ff;
	box-shadow: 0 0 4px 0 #6b79ff;
	color: #000;
}

.txmp-tag.tag-red-g {
	border-color: #F00;
	background-color: #F00;
	color: #FFF;
}

.txmp-tag.tag-cyan-g {
	border-color: #00BCD4;
	background-color: #00BCD4;
	color: #FFF;
}

.txmp-tag.tag-green-g {
	border-color: #4CAF50;
	background-color: #4CAF50;
	color: #FFF;
}

.txmp-tag.tag-orange-g {
	border-color: #FFC107;
	background-color: #FFC107;
	color: #FFF;
}

.txmp-tag.tag-deep-orange-l {
	border-color: #FB8C00;
	background-color: #FB8C00;
	box-shadow: 0 0 4px 0px #FB8C00BB;
	color: #FFF;
}

.txmp-tag.tag-red-l {
	border-color: #F44336;
	background-color: #F44336;
	box-shadow: 0 0 4px 0px #F44336BB;
	color: #FFF;
}

.txmp-tag.tag-blue-g {
	border-color: #2196F3;
	background-color: #2196F3;
	color: #FFF;
}

.txmp-tag.tag-purple-g {
	border-color: #BA68C8;
	background-color: #BA68C8;
	color: #FFF;
}

.txmp-tag.tag-vip {
	border-color: transparent;
	background-color: #ccb800;
	background-image: linear-gradient(135deg,rgb(241, 237, 0),rgb(201, 187, 0));
	color: rgba(0, 0, 0, 0.8);
}

.song-item {
	padding-bottom: 6px;
}

.song-list-item {
	padding-bottom: 5px;
}

.am-list-item-hd {
	margin-bottom:6px !important;
}

.am-list-item-hd .txmp-tag {
	box-shadow: none;
}

.am-list .am-list-item-dated a{
	text-overflow:unset !important;
}

body ::selection {
	text-shadow:none;
}
body ::-moz-selection {
	text-shadow:none;
}
button,
input[type=button],
input[type=submit] {
	outline:none !important;
}
input.input-min,
input.input-min:focus {
	width: 140px;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 16px;
	margin-top: -4px;
	outline: none;
	border-radius: 0;
}

.footnote {
	font-size: 0.85em;
	color: #999;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 0;
}

.list-focus {
	background-image: linear-gradient(135deg,#00000011,#00000022);
}
.am-list-news {
	outline: none;
}
.am-list-news {
	margin-bottom: 300px;
}

.text-danger {
	color:red;
	font-weight:700;
}

.header-dropdown-a,
.header-dropdown-a:hover {
	color: inherit;
	font-size: 2.4rem
}

div.codeblock{
	display: block;
	padding: 1rem;
	margin: 1rem 0;
	font-size: 1.3rem;
	line-height: 1.6;
	word-break: break-all;
	word-wrap: break-word;
	color: #555;
	background-color: #EEEEEE;
	/* border: 1px solid #dedede; */
	white-space: pre-wrap;
}
div.codeblock table {
	font-size: 1.0em;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.6;
}
div.codeblock table td {
	vertical-align: top;
}
div.codeblock table td:first-child {
	text-align: right;
	white-space: nowrap;
	user-select: none;
}
div.codeblock.codeblock-white {
	background-color: #f8f8f800;
	border: 1px solid #dedede00;
}
div.codeblock {
	font-family: Monaco,Menlo,Consolas,"Courier New",FontAwesome,monospace;
}

.text-lowlight {
	background-color: #E7E7E7;
}

.text-comp-notice {
	color: #1E88E5;
}
.text-comp-unstd {
	color: #AB47BC;
}
.text-comp-warn {
	color: #EF6C00;
}
.text-comp-error {
	color: #E53935;
}
.text-comp-fatal {
	color: #000000;
}

/* ----- PATCHING ----- */

.am-modal-dialog {
	outline:none;
	box-shadow: 0 4px 14px -4px #00000055;
	transition:box-shadow .3s;
}
.am-modal-dialog:focus {
	box-shadow: 0 6px 20px -4px #00000077;
}

.am-modal-hd {
	font-weight:700;
}
.toxic-dialog-cover {
    z-index:999988;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
}

code {
	font-size: 1em;
	white-space: pre-wrap;
}

.txmp-page-left::after,
.txmp-page-right::after,
.txmp-page-full::after {
	content: "TEMP FIX  ----- WMSDF Code Lab -----";
	font-size: 0.5em;
	opacity: 0;
	user-select: none;
}

.notice-confirm {
	margin-left: 16px;
}

.wid-lp-4 {
	margin-left: 4px;
}
.wid-lp-8 {
	margin-left: 8px;
}
.wid-lp-12 {
	margin-left: 12px;
}

.bid-linking {
	position:fixed;right:14px;top:62px;background-color:#FFFC;
	display:block;
	font-size: 14px;
	padding: 8px;
	box-shadow: 0 4px 14px -4px #00000055;
	transition: box-shadow .3s, background-color .3s;
}

.bid-linking:hover {
	background-color:#FFFF;
	box-shadow: 0 6px 20px -4px #00000077;
}

.am-dropdown-content li.am-active>a,
.am-dropdown-content li.am-active>a:hover {
	background-color: #ddd;
	color: #000;
}

body {
	overscroll-behavior-x: none;
}

.float-btn {
	position:fixed;
	background-color:#FFF;
	border: 2px solid transparent !important;
	color: #444;
	width: 36px;
	height: 36px;
	font-size: 28px;
	padding: 3px;
	opacity:0.9;
	transition: border .15s, color .15s, box-shadow .3s, background-color .15s !important;
}
.float-btn:hover,
.float-btn:focus {
	color: #444;
	border: 2px solid transparent !important;
}
