Allow from All

php_value display_errors On
RewriteBase /project/txmp/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?_lnk=$1&%{QUERY_STRING} [L]
