.txmp-page-left {
	width: calc(100% - 320px);
	height: 100%;
}
.txmp-page-right {
	position:absolute;
	left:calc(100% - 320px);
	width:320px;
	height:100%;
}
.song-title {
	font-size: 25px;
}
.song-id {
	display: none;
}
.right-first-row {
	margin-top: 0;
	margin-bottom: 0;
}
.right-second-row {
	margin-top: 16px;
}
.right-third-row {
	display: block;
}
.lrc-area {
	padding: 28px;
}
.song-title {
	white-space: nowrap;
	overflow:hidden; text-overflow:ellipsis;
}

/* Customize from here */

.lrc-overview {
	box-shadow: 0 4px 14px -4px #00000055;
	border: none;
	transition: box-shadow .3s;
}
.lrc-overview:hover {
	box-shadow: 0 6px 20px -4px #00000077;
}

.float-btn {
	text-align: center;
	z-index: 1;
}

.lrc-content {
	border:none;
	box-shadow: 0 4px 14px -4px #00000055;
	transition: box-shadow .3s;
	text-align: left;
	padding: 24px;
}
.lrc-content:hover {
	box-shadow: 0 6px 20px -4px #00000077;
}

.lrc-overview {
	padding: 12px;
}

.para-active {
	background-color: #00000000;
}

.lrcline-id {
	opacity: 0.4;
	left: calc(12px - 0.7em);
}

.para {
	margin-top: 0;
	padding-top: 0;
}

.para-title-text {
	margin-left: 2.5em;
	margin-right: 2.5em;
	color: #E3E3E3;
	font-size: 0.8em;
}
.lrc-text {
	margin-right: 2.0em;
	margin-left: 2.0em;
}
.lrc-wap-title .lrc-text {
	font-size: 1.35em;
	margin-right: 1.4815em;
	margin-left: 1.4815em;
	font-weight: 700;
}
.lrc-wap-title {
	margin-bottom: 0.75em;
	margin-top: 0.7em;
}

.lrc-content__wrapperin {
	position: relative;
	display: inline-block;
	min-width: 50%;
	max-width: 1000px;
	margin-left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	padding-left: 12px;
	padding-right: 12px;
	border-left: 2px solid #00000009;
	border-right: 2px solid #00000009;
}

.speed-select-list,
.volume-select-list {
	width: 200px;
}

/* Controls positioning */
#speed-div {
	left: -164px;
	top: -48px;
}
#sync-button {
	left: 0;
	top: 0;
}
#skip-button {
	left: 0;
	top: -144px;
}
#coverpage-button {
	left: 0;
	top: -192px;
}
#volume-div {
	left: -164px;
	top: -96px;
}
#speed-button,
#volume-button {
	transform: translateX(164px);
}
