.txmp-tag-times,
.tag-rplim-paydl,
.tag-rplim-nodl,
.txmp-tag-album,
.txmp-tag-quality,
.txmp-tag-author {
	display: none;
}

.fab-gotop {
	right: 32px;
	bottom: 32px;
	font-size: 23px;
	padding-left: 5.5px;
	padding-top: 4px;
}
