.txmp-tag-times,
.tag-rplim-paydl,
.tag-rplim-nodl,
.txmp-tag-album,
.txmp-tag-quality,
.txmp-tag-author {
	display: none;
}

body {
	height: 100%;
}

.fab-gotop {
	right: 32px;
	bottom: 32px;
	font-size: 23px;
	line-height: 22px;
	text-align: center;
}
.fab-gotop>* {
	transform: translate(0, 1px);
}

.am-list-item-hd {
	line-height: 100%;
}

.am-list-item-hd > * {
	line-height: 1.6;
}

.am-list-item-hd {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}
